body{
    background:  rgb(44, 44, 44); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto';
     
}
a {
    color: #FFFFFF;
}
a hover {
    color: darkorange;
}
h1,h2,h4,li{
    color: #FFFFFF;
}
h2,h4 {
    border-bottom: solid white;
    text-align: center;
}
.wrapper{
 width: 60%;
 margin: auto;
}
.new_experiment_form{
    margin: 2%;
}
.new_sample_form{
    text-align: center;
}
.new_sample_form input{
    width: 30%;
}
.form-inline label{
    color:  #FFFFFF;
    margin: 1%;
}

.new_experiment_form label{
    color:  #FFFFFF;
    width: 100%;
}
.new_sample_form label{
    color:  #FFFFFF;
    width: 100%;
}
.form-inline textarea, .form-inline input {
    color:  #222222;
}

.new_experiment_form textarea, .new_sample_form textarea{
    width: 100%;
}
.form-inline{
    margin: 2%;
}

.button_div{
    text-align: center;
}

li{
     color: #FFFFFF;
     font-size: large;
     text-align: center;
}
dt {
    color: #FFFFFF;
    font-size: large;
}
dd {
    color: #FFFFFF;
    font-size: medium;
    margin-bottom: 2%;
}
.glyphicon {
    font-size: 200%;
   color:   #FFFFFF;;
}

.new {
    background: orange;
}

div.panel-default{
    background: rgb(77, 77, 77);
    padding: 2%;
}

div.panel-default button{
    text-align: center;
}

div.page-header {
    background: rgb(44, 44, 44);
    margin-top:0%; 
}

div.col-sm-4{
    text-align: center;
}

.frame{
    background: black;
}

.status_registered{
    background: white;
    color: black;
}
.status_approved{
    background: green;
    color: white;
}
.status_in_beam{
    background: yellow;
    color: white;
}

.status_out_of_beam{
    background: red;
    color: white;
}

.status_completed{
    background: orange;
    color: white;
}


