.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 500ms !important;
}

.font{
    font-family: 'Lobster', cursive;
    font-weight:300;
    font-size:40px;
}
#step2{
    display: none;
    padding:20px;
}

#step3{
    display:none;
    padding:20px;
}

#step1{
    display: block;
    padding:20px;
}

.text.container{

    width:40%;

}


#logo{
    border:2px solid white;
    border-radius: 10px;
    color:white;
    padding:15px;
}
#logo:hover{
    box-shadow: 0px 0px 5px 5px white;
}

.ui.modal{
    top: 3%;
}

span.circle_span {
    margin-bottom: 5px;
    padding-top: 4px;
    width: 50px;
    height: 22px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    line-height: 14px;
    text-align: center;
}

.ui.modal .scrolling.content{
    max-height: calc(100vh);
}

.red_icon{ 
    background: rgb(196,51,47);
}

.blue{
    background: rgb(40,95,143);
}

.green{
    background: #008000;
}
div.ui.container{
    width:96%;
}

#popup{
    height: 50px;
    background-color:blue;
}

