{% load staticfiles %}
<html>
    <head>
        <title>Samples Manager</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/cern_toolbar.css' %}">
    </head>
    <body>
        <nav>
			<div id="cern-toolbar">
				<h1><a href="http://home.cern" title="CERN">CERN <span>Accelerating science </span></a></h1>
                <ul>
                    <li class='cern-accountlinks navbar-right'><a class='cern-account' href='https://home.web.cern.ch/Shibboleth.sso/?target=$actual_link' title='Sign in to your CERN account'>Sign in</a></li>
					<li  class='navbar-right'><a class="cern-directory" href="http://cern.ch/directory" title="Search CERN resources and browse the directory">Directory</a></li>
				</ul>
			</div>	
        </nav>
        <div class="page-header">
            <a class="navbar-brand navbar-right" href="https://ps-irrad.web.cern.ch/"><img src={% static 'images/WhiteLogo3.png' %} alt=""></a>
            <a class="navbar-brand navbar-right" href="http://aida2020.web.cern.ch/"><img src={% static 'images/aida2020orange.png' %} alt=""></a>
            <div id="navbar3" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{% url 'samples_manager:index' %}">HOME</a></li>
                    <li><a href="http://aida2020.web.cern.ch/content/transnational-access">AIDA-2020 TA</a></li> 
                    <li><a href="https://op-webtools.web.cern.ch/irrad/index.php">BPM</a></li> 
                    <li><a href="https://ps-irrad.web.cern.ch/">CONTACT</a></li> 
                </ul>
            </div>
            <h1>Samples Manager</h1>
        </div>
        <div class="content container">
            <div class="row">
                     {% block content %}
                     {% endblock %}
            </div>
        </div>
    </body>
</html>



