{% extends 'samples_manager/base.html' %}
{% block content %}
<div class='panel panel-default'>
 <div class="row">
        <div class="col-sm-2">
                <h4>Samples</h4>
                {% if latest_Samples_list %}
                <ul class="list-unstyled">
                {% for sample in latest_Samples_list %}
                    <li><a href="{% url 'samples_manager:sample_details'  sample.id %}">{{  sample.description }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                    <p>No Samples are available.</p>
                {% endif %}  
        </div>
        <div class="col-sm-2">
                <h4>Experiment</h4>   
                {% if latest_Experiments_list %}
                <ul class="list-unstyled">
                {% for experiment in latest_Experiments_list %}
                    <li><a href="{% url 'samples_manager:experiment_details' experiment.id %}">{{ experiment.title }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                    <p>No experiments are available.</p>
                {% endif %}  
        </div>
        <div class="col-sm-2">
                <h4>Owner</h4>
                <ul class="list-unstyled">
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                    <li>Federico Ravotti</li>
                </ul>
        </div>
        <div class="col-sm-2">
                <h4>Updated by</h4>
                <ul class="list-unstyled">
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                    <li>Maurice Glaser</li>
                </ul>
        </div>
        <div class="col-sm-2">
                <h4>Date of the update</h4>
                <ul class="list-unstyled">
                    <li>01/02/2017 16:00</li>
                    <li>01/02/2017 16:05</li>
                    <li>01/02/2017 16:10</li>
                    <li>01/02/2017 16:15</li>
                    <li>01/02/2017 16:20</li>
                     <li>01/02/2017 16:00</li>
                    <li>01/02/2017 16:05</li>
                    <li>01/02/2017 16:10</li>
                    <li>01/02/2017 16:15</li>
                    <li>01/02/2017 16:20</li>
                     <li>01/02/2017 16:00</li>
                    <li>01/02/2017 16:05</li>
                    <li>01/02/2017 16:10</li>
                    <li>01/02/2017 16:15</li>
                    <li>01/02/2017 16:20</li>
                </ul>
        </div>
        <div class="col-sm-2">
                <h4>Status</h4>
                <ul class="list-unstyled">
                    <li class="status_registered">Registered</li>
                    <li class="status_approved">Approved</li>
                    <li class="status_in_beam">In beam</li>
                    <li class="status_out_of_beam">Out of beam</li>
                    <li class="status_completed"> Completed</li>
                    <li class="status_registered">Registered</li>
                    <li class="status_approved">Approved</li>
                    <li class="status_in_beam">In beam</li>
                    <li class="status_out_of_beam">Out of beam</li>
                    <li class="status_completed"> Completed</li>
                    <li class="status_registered">Registered</li>
                    <li class="status_approved">Approved</li>
                    <li class="status_in_beam">In beam</li>
                    <li class="status_out_of_beam">Out of beam</li>
                    <li class="status_completed"> Completed</li>
                </ul>

        </div>
        </div>
</div>

<div class="row">
        <div class="col-sm-4">
            <a href="{% url 'samples_manager:experiment_new' %}" class="">
                <button type="button" class="btn btn-warning">
                    <a href="{% url 'samples_manager:experiment_new' %}" class="">
                        <h3>New Irradiation</h3>
                </button>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'samples_manager:sample_new' %}" class="">
                    <button type="button" class="btn btn-warning">
                        <h3>New Samples</h3>
                    </button>
            </a>   
        </div>
        <div class="col-sm-4">
            <a href="{% url 'samples_manager:user_new' %}" class="">
                    <button type="button" class="btn btn-warning">
                        <h3>New Users</h3>
                    </button>
            </a>   
        </div>
</div>
{% endblock %}