{% extends 'base.html' %}
{% block content %}
<div class= "ui center aligned raised segment">
      <p>Welcome to IRRAD Data Manager, the all-in-one data management tool for the registration, supervision and follow up of IRRAD experiments. If you are not member of irrad-ps-users e-group, please <a  target="_blank" style="text-decoration: underline;" href="https://e-groups.cern.ch/e-groups/Egroup.do?egroupId=10115020">subscribe</a> there before signing in.</p>
      <div class="ui compact buttons ">
                      <a target="_blank" style="text-decoration: underline;" href="https://e-groups.cern.ch/e-groups/Egroup.do?egroupId=10115020" title="Subscribe to irrad-ps-users e-group">
                        <button type="button" class="ui positive compact icon button">
                          <h3>Subscribe in e-group</h3>
                        </button>  
                      </a>
                      <a href='{% url 'samples_manager:index' %}' title="Sign in">
                        <button type="button" class="ui yellow compact icon button">
                          <h3>Sign in</h3>
                        </button>  
                      </a>
    </div>
  </div>


 <!-- THE MODAL WE WILL BE USING -->
   <div class="modal fade in" id="modal-experiment">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
    </div>
  <div class="modal fade in" id="modal-sample">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  <div class="modal fade in" id="modal-user">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
{% endblock %}
