{% extends 'samples_manager/base.html' %}
{% block content %}
{% load staticfiles %}
{% load widget_tweaks %}

<!-- THE MODAL WE WILL BE USING -->
<div class="modal" data-backdrop="static" data-keyboard="false"  id="modal-sample">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>

<!-- THE MODAL WE WILL BE USING -->
<div class="modal" data-backdrop="static" data-keyboard="false"  id="modal-compound">
        <div class="modal-dialog">
                <div class="modal-content">
                </div>
        </div>
</div>
<form method="post" id='move_samples' class="col-sm-12"  action="{% url 'samples_manager:move_samples' experiment.id%}">
{% csrf_token %} 
<div class='panel panel-default' id="main_panel">
        <div class="row">
            <div class="col-sm-2">
                <button  type="submit"
                                id = "assign_ids"
                                class="btn btn-warning"
                                data-url="{% url 'samples_manager:assign_set_ids' experiment.id %}"
                                style="color:white;display:none">
                                <span class="glyphicon glyphicon-tags"></span> Assign SET ID
                </button> 
            </div>
            <div class="col-sm-2">
                <button  type="submit"
                                id = "print_samples"
                                class="btn"
                                style="color:white;display:none">
                                <span class="glyphicon glyphicon-barcode"></span> Print labels
                </button>   
            </div>       
            <div class="col-sm-4">
                <div class="row">
                        <div class="btn col-sm-10">
                            <select class="form-control" id="id_experiments" name="new_experiment" style="display:none;">
                                <option value="" selected="selected">Move samples to another experiment</option>
                                {% for experiment in experiments %}
                                    <option value="{{experiment.id}}">{{experiment.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                            <button type="submit"
                                id = "change_experiment"
                                data-url="{% url 'samples_manager:move_samples' experiment.id %}"
                                class="btn btn-success col-sm-2"
                                style="color:white;display:none">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px ">
            <div class="col-sm-12">
                <h3><span style="font-size: 150%; text-decoration: underline">{{experiment.title}} samples </span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="text-align: left">
                {%if request.path|slice:":23" == '/samples_manager/search' %}
                    <a  href="{%  url 'samples_manager:experiment_samples_list' experiment.id  %}" type="button" class="btn back" title='Back'>
                {%else %}
                    <a  href="{% url 'samples_manager:experiments_list' %}" type="button" class="btn back" title='Back'>
                {%endif%}
                    <span class="glyphicon glyphicon-chevron-left"></span>Back
                </a>
            </div>
            <div class="col-sm-4">
                <form style="text-align: center" id="search_samples" class="col-sm-4" name="search_form" method="GET" action="{% url 'samples_manager:search_samples' experiment.id %}"> 
                    <input title="Search by sample ID, name or category" id="search_box" type="text" name="search_box"  placeholder="Search..." >
                    <button title="Search by sample ID, name or category" class="btn-sm btn-warning" id="search_submit" type="submit"><span class="glyphicon glyphicon-search line_height"></span></button>
                </form>
            </div>
            <div class="col-sm-4" style="text-align: right">
                <button type="button"
                        id = "new_sample"
                        class="btn btn-primary js-create-sample"
                        data-url="{% url 'samples_manager:sample_new' experiment.id %}">
                        <span class="glyphicon glyphicon-plus"></span>New Sample
                </button> 
            </div>
        </div>
        <div class="panel-body">
                <div class="row">
                      <table class="col-sm-12 table-responsive sortable" id="sample-table">
                            <thead>
                                <tr>
                                <th class="sorttable_nosort"><input name="select_all" value="1" id="samples-select-all" type="checkbox"/></th>
                                <th>Last<br>update</th>
                                <th>ID</th>    
                                <th>Name</th>
                                <th>Category</th>
                                <th>Requested<br>fluence</th>
                                <th>Radiation Length<br>Occupancy<br>(%)</th>
                                <th>Nu. Coll. Length<br>Occupancy<br>(%)</th>
                                <th>Nu. Int. Length<br>Occupancy<br>(%)</th>
                                <th>Last<br>updated by</th>
                                <th class="sorttable_nosort">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% include 'samples_manager/partial_samples_list.html' %}
                            </tbody>
                        </table>
                </div>
                <div class="row" style="text-align: right">
                    <p><a href="{% url 'samples_manager:archive_experiment_samples' experiment.id%}">Archive</a></p>
                </div>
        </div>   
</div>
</form>
{% endblock %}


