{% extends 'samples_manager/base.html' %}
{% block content %}
 <!-- THE MODAL WE WILL BE USING -->
<div class="modal" id="modal-user">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>
<div class='panel panel-default' id="main_panel">        
    <div class="row">
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-12">
                <table class="table" id="user-table">
                    <thead>
                        <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>E-mail</th>
                        <th>Telephone</th>
                        <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'samples_manager/admin_partial_users_list.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



</div>

{% endblock %}