{% extends 'samples_manager/base.html' %}
{% block content %}
{% load staticfiles %}
{% load widget_tweaks %}

<!-- THE MODAL WE WILL BE USING -->
<div class="ui modal" id="modal-irradiation">
    <i class="close icon"></i>
    <div class="scrolling content">
    </div>
</div>

<div class="ui modal" id="modal-sample">
    <i class="close icon"></i>
    <div class="scrolling content">
    </div>
</div>

<div class="ui modal" id="modal-compound" data-object="trigger">
    <i class="close icon"></i>
    <div class="scrolling content">
    </div>
</div>

<div class= "ui center aligned segment">
    <h2>{{experiment.title}} samples</h2>
    <div class= "ui aligned segment">
        <button type="button"
                    id = "new_sample"
                    data-target = "#modal-sample"
                    class="ui blue button js-create-sample"
                    title='Register new sample'
                    data-url="{% url 'samples_manager:sample_new' experiment.id %}">
                    <i class="plus icon"></i> New Sample
            </button>  
    </div>

        <table class="ui center aligned sortable celled table" id="sample-table">
                            <thead>
                                <tr>
                                <th class="sorttable_nosort"><input name="select_all" value="1" id="samples-select-all" type="checkbox"/></th>
                                <th>Last<br>update</th>
                                <th>ID</th>    
                                <th>Name</th>
                                <th>Category</th>
                                <th>Requested<br>fluence</th>
                                <th>Radiation / Nu. Coll. / Nu. Int.<br>Length Occupancy (%)</th>
                                <th>Last<br>updated by</th>
                                <th class="sorttable_nosort">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% include 'samples_manager/partial_samples_list.html' %}
                            </tbody>
                        </table>
                </table>
                <p><a href="{% url 'samples_manager:archive_experiment_samples' experiment.id%}">Archive</a></p>
    </div>
{% endblock %}

