<meta charset="UTF-8"> 
{% load staticfiles %}
{% load widget_tweaks %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-dismiss="modal"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add compound</h4>
  </div>
<form method="post" action="{% url 'samples_manager:admin_compound_new'%}"  class="js-compound-create-form">
  {% csrf_token %}
  <div class="modal-body">
    <div class="row setup-content">
        <div class="col-xs-12">
            <div class="col-md-12">
                {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                    <span class="help-block">{{error }}</span>
                {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-md-12">
                <table  class="table formset_table">
                        {{ elem_formset.management_form }}
                        {% for form in elem_formset.forms %}
                        {% if forloop.first %}
                                <thead>
                                <tr>
                                    <th>Element</th>
                                    <th>Weight fraction (%)</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                         {% endif %}
                            <tr class="{% cycle row1 row2 %} elem_formset_row">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{error}}</span>
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>
  </div>
  <div class="modal-footer">
    <button class="btn pull-left back" id="dismiss-compound" onclick='javascript: $("#modal-compound").modal("hide");' type="button"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
    <button type="submit" class="btn btn-success btn-lg pull-right">Save</button>
  </div>
</form>
<script type="text/javascript">
        $('.elem_formset_row').formset({
            addText: 'Add element',
            deleteText: '×',
            prefix: 'compoundelements_set',
        });
</script>




