{% extends 'samples_manager/base.html' %}
{% block content %}
 <!-- THE MODAL WE WILL BE USING -->
<div class="ui modal" id="modal-user">
    <i class="close icon"></i>
      <div class="scrolling content">
      </div>
    </div>
</div>

<div class= "ui center aligned raised segment">
     <h2>Users</h2>
     <button type="button"
                  data-target = "#modal-user"
                  class="ui blue button js-create-user"
                  title='Register new user'
                  data-url="{% url 'samples_manager:admin_user_new'%}">
                  <i class="plus icon"></i> New User
        </button>  

        <table class="ui center aligned sortable celled table" id="user-table">
                    <thead>
                        <tr>
                        <th>Row</th>
                        <th>Last<br>login</th>
                        <th>Name<br>Surname</th>
                        <th>E-mail</th>
                        <th>Telephone/<br>Mobile</th>
                        <th>Department/<br>Group</th>
                        <th>Home<br>institute</th>
                        <th>Role</th>
                        <th>Experiments</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'samples_manager/admin_partial_users_list.html' %}
                    </tbody>
                </table>
</div>

{% endblock %}