{% for user_data in users_data %}
  <tr>
    <td>{{ user_data.row }}</td>
    <td>{{ user_data.user.last_login|date:"d/m/Y"}}</td>
    <td>{{ user_data.user.name }}<br>{{ user_data.user.surname }}</td>
    <td>{{ user_data.user.email }}</td>
    <td>{{ user_data.user.telephone }}<br>{{ user_data.user.mobile }}</td>
    <td>{{ user_data.user.department }}</td>
    <td>{{ user_data.user.home_institute }}</td>
    <td>{{ user_data.user.role }}</td>
    <td><a style="text-decoration: underline" href="{% url 'samples_manager:admin_experiments_user_view' user_data.user.id  %}">{{ user_data.experiments_number }}</a></td>
    <td>
      <button type="button"
              class="mini ui yellow icon button js-update-user"
              data-url="{% url 'samples_manager:admin_user_update' user_data.user.id %}">
        <i class="pencil icon"></i>Edit
      </button>
      <button type="button"
              class="mini ui negative icon button js-delete-user"
              data-url="{% url 'samples_manager:admin_user_delete' user_data.user.id %}">
        <i class="trash icon"></i>Remove
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center">There are no users</td>
  </tr>
{% endfor %}
