{% extends 'samples_manager/base.html' %}
{% block content %}
 <!-- THE MODAL WE WILL BE USING -->
<div class="ui modal" id="modal-user">
    <i class="close icon"></i>
      <div class="scrolling content">
      </div>
    </div>
</div>

<div class= "ui center aligned raised segment">
     <h2>Users</h2>
      <div class= "ui grid segment">
        <div class="three wide column">
                    <button type="button" class="ui left floated grey button"  onclick="goBack()" title='Back'>
                        <i class="angle left icon"></i>Back
                    </button>
        </div>
        <div class="ten wide column">
            <form style="text-align: center; display: block" name="search_form" method="GET" action="{% url 'samples_manager:search_users_admin'%}"> 
                <div class="ui right action input">
                    <input title="Search irradiation title or status"   id="search_box" type="text" name="search_box"  placeholder="Search..." >
                    <button title="Search irradiation title or status" class="ui icon green button" id="search_submit" type="submit"><i class="search icon"></i></button>
                </div>
            </form>
        </div>
        <div class="three wide column">
            <button type="button"
                        data-target = "#modal-user"
                        class="ui blue right floated button js-create-user"
                        title='Register new user'
                        data-url="{% url 'samples_manager:admin_user_new' %}">
                        <i class="plus icon"></i> New User
                </button>  
        </div>
    </div>  
    <div class="sixteen wide column" style='height:750px; overflow-x:scroll; overflow-y:scroll;'>
            <table class="ui center aligned sortable celled table" id="user-table">
                        <thead>
                            <tr>
                            <th>Row</th>
                            <th>Last<br>login</th>
                            <th>Name<br>Surname</th>
                            <th>E-mail</th>
                            <th>Telephone/<br>Mobile</th>
                            <th>Department/<br>Group</th>
                            <th>Home<br>institute</th>
                            <th>Role</th>
                            <th>Experiments</th>
                            <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include 'samples_manager/admin_partial_users_list.html' %}
                        </tbody>
            </table>
    </div>
</div>

{% endblock %}