<meta charset="UTF-8"> 
{% load staticfiles %}
<html>
    <head>
         <title>IRRAD Data Manager</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
        <link rel="stylesheet" href="{% static 'css/widget.css' %}">
        <link rel="stylesheet" href="{% static 'css/cern_toolbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/number-polyfill.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ui/components/icon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ui/components/image.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ui/components/transition.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/checkbox.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/sidebar.css' %}">
        <link rel="stylesheet" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/form.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/reset.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/site.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/breadcrumb.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/button.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/container.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/divider.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/grid.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/header.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/input.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/label.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/list.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/menu.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/message.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/popup.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/reveal.css' %}">
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/segment.css' %}"> 
        <link class="themable" rel="stylesheet" type="text/css" href="{% static 'css/ui/components/default/table.css' %}">
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
        <link rel="stylesheet" href="{% static 'css/style2.css' %}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
        <script>
        window.addEventListener("load", function(){
        window.cookieconsent.initialise({
        "palette": {
            "popup": {
            "background": "#000"
            },
            "button": {
            "background": "#f1d600"
            }
        },
        "position": "bottom",
        "content": { 
            "message": 'This web application uses cookies to ensure you get the best experience on our web application. Please, choose your display preferences from the menu on the side.',
        }
    })
    var $uisidebar        = $('.ui.sidebar');
    $uisidebar.sidebar({
        transition: 'push',
        dimPage: false
      })
      .sidebar('attach events', $('.cc-btn.cc-dismiss'))
    ;

});
        </script>
    </head>
    <body id="home" class="pushable">
        <div class="ui theme left push sidebar">
            <div class="ui divided items">
                <div class="item">
                   <label>Background body color:  &nbsp;</label>
                   <input type='text' id="body_bgk" />
                </div>
                <div class="item">
                   <label>Content color:  &nbsp;</label>
                   <input type='text' id="segment_bgk" />
                </div>
                <div class="item">
                   <label>Table color:  &nbsp;</label>
                   <input type='text' id="table_bgk" />
                </div>
                <div class="item">
                   <label>Font color:  &nbsp;</label>
                   <input type='text' id="table_font_color" />
                </div>
                <div class="item">
                   <label>Links:  &nbsp;</label>
                   <input type='text' id="link_color" />
                </div>
                <div class="item">
                   <label>Font size:  &nbsp;</label>
                   <input type='number' style = "width:20%" id="font_size"/><span>px</span>
                </div>
            </div>
            
        </div>
        <div class="pusher" >
                <div class="ui container" style="font-size: 80px !important">
                    <div class="blank-toolbar s4-notdlg"></div>
                    <div class="toolbar-wrapper s4-notdlg">
                        <div id="cern-toolbar">
                            <h1 id="cern-mainlink"><a href="http://home.cern" title="CERN">CERN <span>Accelerating science </span></a></h1>
                            <ul class="cern-signedin">                    
                                <li id="ctl00_ctl32_linksLi" class='cern-accountlinks'>
                                    <span id="ctl00_ctl32_accountSpan">Signed in as: <a href="https://cern.ch/account" id="ctl00_ctl32_accountLink" title="Signed in as {{logged_user}}">{{logged_user.email}}</a></span>
                                    <a href="https://login.cern.ch/adfs/ls/?wa=wsignout1.0" id="ctl00_ctl32_signOutALink" class="cern-signout" title="Sign out of your account">Sign out</a></li>
                                <li><a class="cern-directory" href="http://cern.ch/directory" title="Search CERN resources and browse the directory">Directory</a></li>
                            </ul>
                        </div>	
                    </div>	
                    <div class="ui text menu" >
                        <div class="ten wide column item">
                                <a href="{% url 'samples_manager:index' %}" class="item">
                                <b>HOME</b>
                                </a>
                                <a href="{% url 'samples_manager:experiments_list' %}" class="item">
                                <b>EXPERIMENTS</b>
                                </a>
                                <a target='_blank' href="https://op-webtools.web.cern.ch/irrad/index.html#/" class="item">
                                <b>BPM</b>
                                </a>
                                <a target='_blank' href="https://ps-irrad.web.cern.ch/" class="item">
                                <b>IRRAD</b>
                                </a>
                                <div class="ui dropdown link item allowed_dropdown">
                                    <span class="text"><b>INFO</b></span>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <a href="{% url 'samples_manager:experiments_history' %}"class="item"><b>EXPERIMENTS HISTORY</b></a>
                                        <a href="{% url 'samples_manager:regulations' %}" class="item"><b>GENERAL TERMS</b></a>
                                        <a href="{% url 'samples_manager:fluence_conversion'%}"class="item"><b>FLUENCE CONVERSIONS</b></a>
                                    </div>
                                </div>
                                {% if logged_user.role == 'Admin'%}
                                <div class="ui dropdown link item allowed_dropdown">
                                    <span class="text"><b>ADMIN</b></span>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <a href="{% url 'samples_manager:users_list' %}"class="item"><b>USERS</b></a>
                                        <a href="{% url 'samples_manager:compounds_list' %}"class="item"><b>COMPOUNDS</b></a>
                                        <a href="{% url 'samples_manager:dosimeters_list' %}"class="item"><b>DOSIMETERS</b></a>
                                        <a href="{% url 'samples_manager:irradiations' %}"class="item"><b>IRRADIATIONS</b></a>
                                        <a href="{% url 'samples_manager:admin_dosimetry_results' %}"class="item"><b>DOSIMETRY RESULTS</b></a>
                                        <a href="https://its.cern.ch/jira/projects/IRRAD/" class="item"><b>JIRA</b></a>
                                        <a href="{% url 'samples_manager:admin_samples_list' %}" class="item"><b>SAMPLES</b></a>
                                        
                                    </div>
                                </div>
                                {% endif %}
                                <a class="launch icon item" data-content="Select display preferences">
                                   <b class="yellow"><i class="yellow cogs icon"></i>PREFERENCES</b>
                                </a>
                        </div>
                        <div class = "ui right floated item">
                            <a href="https://ps-irrad.web.cern.ch/" class="ui small image">
                            <img src="{% static  'images/logo.png' %}"> 
                            </a>
                        </div>
                        <div class = "item">
                            <a href="http://aida2020.web.cern.ch/" class="ui small image">
                            <img src="{% static 'images/aida2020orange.png' %}"> 
                            </a>
                        </div>
                    </div>
                    <div class= "ui center aligned blue raised segment">
                        <h1 class="ui center aligned header">IRRAD Data Manager</h1>
                    </div>
                </div>

             <div class="page content">
                <div class='ui container'>
                        {% block content %}
                        {% endblock %}
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/custom_css.js' %}"></script>
        <script src="{% static 'js/samples.js' %}"></script>
        <script src="{% static 'js/experiments.js' %}"></script>
        <script src="{% static 'js/users.js' %}"></script>
        <script src="{% static 'js/dosimeters.js' %}"></script>
        <script src="{% static 'js/compounds.js' %}"></script>
        <script src="{% static 'js/irradiations.js' %}"></script>  
        <script src="{% static 'js/number-polyfill.js' %}"></script>
        <script src="{% static 'js/sorttable.js' %}"></script>
        <script src="{% static 'css/ui/semantic.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
        <script src="{% static 'js/DYMO.Label.Framework.2.0.2.js' %}"></script>
        <script>
            $(document).ready(function(){
                $('.allowed_dropdown').dropdown();
                            function goBack() {
                                window.history.back();
                            };
                $('#data-table').after('<div class="ui pagination menu" id="nav"></div>');
                var rowsShown = 10;
                var rowsTotal = $('#data-table tbody tr').length;
                var numPages = rowsTotal/rowsShown;
                for(i = 0;i < numPages;i++) {
                    var pageNum = i + 1;
                    $('#nav').append('<a class = "item" href="#" rel="'+i+'">'+pageNum+'</a> ');
                }
                $('#data-table tbody tr').hide();
                $('#data-table tbody tr').slice(0, rowsShown).show();
                $('#nav a:first').addClass('active');
                $('#nav a').bind('click', function(){
                    $('#nav a').removeClass('active');
                    $(this).addClass('active');
                    var currPage = $(this).attr('rel');
                    var startItem = currPage * rowsShown;
                    var endItem = startItem + rowsShown;
                    $('#data-table tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                    css('display','table-row').animate({opacity:1}, 300);
                });

                var
                    $sidebar  = $('.ui.sidebar'),
                    $launcher = $('.launch');

                $sidebar.sidebar({
                    transition: 'push',
                    dimPage: false
                })
                .sidebar('attach events', $launcher);

            });

       </script>
        
    </body>
</html>
        {% block javascript %}   
        {% endblock %}
