{% extends 'samples_manager/base.html' %}
{% block content %}
 <!-- THE MODAL WE WILL BE USING -->
<div class="ui modal" id="modal-dosimeter">
    <i class="close icon"></i>
      <div class="scrolling content">
      </div>
</div>

<div class= "ui center aligned segment">
    <h2>Dosimeters</h2>
    <div class= "ui aligned segment">
        <button type="button"
                    id = "new_dosimeter"
                    data-target = "#modal-dosimeter"
                    class="ui blue button js-create-dosimeter"
                    title='Register new dosimeter'
                    data-url="{% url 'samples_manager:dosimeter_new'%}">
                    <i class="plus icon"></i> New Dosimeter
        </button>  
    </div>
    <table class="ui center aligned sortable celled table" id="dosimeter-table">
                <thead>
                    <tr>
                    <th class="sorttable_nosort"><input name="select_all" value="1" id="dosimeters-select-all" type="checkbox" /></th>
                    <th>Last Update</th>
                    <th>Dosimeter ID</th>
                    <th>Size (mm<sup>2</sup>)</th>
                    <th>Weight (g)</th>
                    <th>Status</th>
                    <th class="sorttable_nosort">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'samples_manager/partial_dosimeters_list.html' %}
                </tbody>
            </table>
    </div>
{% endblock %}