{% extends 'samples_manager/base.html' %}
{% block content %}
 <!-- THE MODAL WE WILL BE USING -->
<div class="modal" id="modal-dosimeter">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>
<div class='panel panel-default' id="main_panel">    
    <div class="row">
        <div class="col-sm-2">
                <a  href="{% url 'samples_manager:experiments_list' %}" type="button"
                        class="btn back"
                        title='Back'>
                                <span class="glyphicon glyphicon-chevron-left"></span>Back
                </a>
        </div>
        <div class="col-sm-6">
            <h3><span style="font-size: 150%;">Dosimeters</h3>
        </div>
        <div class="col-sm-2">
            <button  type="button"
                    id = "generate_dos"
                    class="btn btn-warning js-generate-ids"
                    data-url="{% url 'samples_manager:generate_dos_ids'%}">
                    <span class="glyphicon glyphicon-tag"></span> New Dosimeter IDs
            </button>     
        </div>  
        <div class="col-sm-2">
            <button type="button"
                    id = "new_dos"
                    class="btn btn-primary js-create-dosimeter"
                    data-url="{% url 'samples_manager:dosimeter_new'%}">
                    <span class="glyphicon glyphicon-plus"></span>New Dosimeter
            </button>   
             <button  type="button"
                    id = "print_dos"
                    class="btn js-print-labels"
                    data-url="{% url 'samples_manager:dosimeter_new'%}"
                    style="color:white;display:none">
                    <span class="glyphicon glyphicon-barcode"></span> Print labels
            </button>  
        </div>  
        
    </div>
    <div class="panel-body">    
        <div class="row">
            <table class="table table-responsive sortable" id="dosimeter-table">
                <thead>
                    <tr>
                    <th></th>
                    <th>Last Update</th>
                    <th>Dosimeter ID</th>
                    <th>Size (mm<sup>2</sup>)</th>
                    <th>Weight (kg)</th>
                    <th>Status</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'samples_manager/partial_dosimeters_list.html' %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}