{% extends 'samples_manager/base.html' %}
{% block content %}
 <!-- THE MODAL WE WILL BE USING -->
<div class="ui modal" id="modal-dosimeter">
    <i class="close icon"></i>
      <div class="scrolling content">
      </div>
</div>

<div class= "ui center aligned raised segment">
    <h2>Dosimeters</h2>
    <div class= "ui grid segment" id="checked_segment" style ="display: none">
        <div class="three wide column">
            <button  type="button"
                        id = "print_dos"
                        class="ui orange button js-print-labels"
                        data-url="{% url 'samples_manager:dosimeter_new'%}">
                        <i class="tags icon"></i> Print labels
            </button>
        </div>
    </div>

    <div class= "ui grid segment" id="unchecked_segment">
            <div class="three wide column">
                    <button type="button" class="ui left floated grey button"  onclick="goBack()" title='Back'>
                        <i class="angle left icon"></i>Back
                    </button>
            </div>
            <div class="six wide column">
                <form style="text-align: center; display: block" name="search_form" method="GET" action="{% url 'samples_manager:search_dosimeters'%}"> 
                    <div class="ui fluid right action icon input">
                        <input title="Search irradiation title or status"   id="search_box" type="text" name="search_box"  placeholder="Search..." >
                        <button title="Search irradiation title or status" class="ui icon green button" id="search_submit" type="submit"><i class="search icon"></i></button>
                    </div>
                </form>
            </div>
            <div class="four wide column">
                <button  type="submit"
                            id = "generate_dos"
                            class="ui violet button"
                            data-url="{% url 'samples_manager:generate_dos_ids'%}">
                            <i class="tags icon"></i> New Dosimeters IDs
                </button>
            </div>
            <div class="three wide column">
                <button type="button"
                            id = "new_dosimeter"
                            data-target = "#modal-dosimeter"
                            class="ui blue right floated button js-create-dosimeter"
                            title='Register new dosimeter'
                            data-url="{% url 'samples_manager:dosimeter_new'%}">
                            <i class="plus icon"></i> New Dosimeter
                </button> 
        </div> 
    </div>
    <div class="sixteen wide column" style='overflow-x:scroll;'>
            <table class="ui center aligned sortable celled table" id="data-table">
                <thead>
                    <tr>
                    <th class="sorttable_nosort"><input name="select_all" value="1" id="dosimeters-select-all" type="checkbox" /></th>
                    <th>Last Update</th>
                    <th>Dosimeter ID</th>
                    <th>Size (mm<sup>2</sup>)</th>
                    <th>Weight (g)</th>
                    <th>Status</th>
                    <th class="sorttable_nosort">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'samples_manager/partial_dosimeters_list.html' %}
                </tbody>
            </table>
    </div>
</div>
{% endblock %}