<form method="post" action="{% url 'samples_manager:generate_dos_ids'%}" class="ui form js-generate-ids-form">
  {% csrf_token %}
  <div class="ui center aligned segment container">
    <div class="ui centered header">
          <h3 class="modal-title">New dosimeter entries</h3>
    </div>
    <div class="field">
      <label for="number_ids">How many new dosimeter entries you need?</label>
      <input id="number_ids" min="0" name="number_ids" type="number">
    </div>
    <div class="two ui buttons actions">
      <button  type="button"  class="ui deny medium button">Cancel</button>
      <button  type="submit"  class="ui orange medium button submit">Assign IDs</button>
    </div>
  </div>
</form>