{% extends 'samples_manager/base.html' %}
{% block content %}

<div class= "ui center aligned inverted segment">
      <p> Welcome to IRRAD Data Manager,the all-in-one data management tool for the registration, supervision and follow up of IRRAD experiments. Please, register your irradiation.</p>
      <button type="button"
                  data-target = "#modal-experiment"
                  class="ui blue button js-create-experiment"
                  title='Register new irradiation experiment'
                  data-url="{% url 'samples_manager:experiment_new' %}">
                  <i class="plus icon"></i> New Experiment
        </button>  
  </div>

 <!-- THE MODAL WE WILL BE USING -->
   <div class="modal" id="modal-experiment"  data-backdrop="static" data-keyboard="false"  tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
    </div> 
  <div class="modal" id="modal-sample"  data-backdrop="static" data-keyboard="false"  tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  <!-- <div class="modal" id="modal-user"  data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>-->
{% endblock %}
