{% extends 'samples_manager/base.html' %}
{% block content %}

 <!-- THE MODAL WE WILL BE USING -->
  <div class="ui modal" id="modal-experiment">
     <i class="close icon"></i>
     <div class="scrolling content">
      </div>
  </div>

<div class= "ui center aligned raised segment">
      <p>Welcome to ITA Data Manager, the all-in-one data management tool for the registration, supervision, and follow up of ITA experiments. Please, register your irradiation.</p>
      <a href="{% url 'samples_manager:experiments_list' %}">
            <button type="button"
                    class="massive ui yellow button"
                    title='View all your registered experiments'>
                    <i class="chart line icon"></i> My Experiments
          </button>
      </a>
      <button type="button"
                  data-target = "#modal-experiment"
                  class="massive ui blue button js-create-experiment"
                  title='Register new irradiation experiment'
                  data-url="{% url 'samples_manager:experiment_new' %}">
                  <i class="plus icon"></i> New Experiment
				 
        </button>  
		<p>
		<p><small>	The Fermilab IDM is adapted from the CERN IDM and brought to you by the Test Beam Facility.</small></p>
         
  </div>

{% endblock %}
