{% extends 'samples_manager/base.html' %}
{% block content %}
 <!-- THE MODAL WE WILL BE USING -->
  <div class="modal"  data-backdrop="static" data-keyboard="false" id="modal-experiment">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  <div class="modal"  data-backdrop="static" data-keyboard="false" id="modal-user">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  
<div class='panel panel-default' id="main_panel">
    <div class="row">
                    <form  class="col-sm-3" name="search_form" method="GET" action="{% url 'samples_manager:search_irradiations' %}"> 
                        <input   id="search_box" type="text" name="search_box"  placeholder="Search..." >
                        <button  class="btn-sm btn-info" id="search_submit" type="submit"><span class="glyphicon glyphicon-search line_height"></span></button>
                    </form>
                <div class="col-sm-6">
                    <h3>IRRADIATIONS</h3>
                </div>
                <div class="col-sm-3" style="text-align: right">
                        <button type="button"
                                class="btn btn-primary "
                                title="New irradiations">
                                <span class="glyphicon glyphicon-plus"></span>Irradiation
                        </button> 
                </div>

        <!--<div class="col-sm-2">
                    <button type="button"
                        class="btn btn-primary soap">
                        <span class="glyphicon glyphicon-plus"></span>Soap Request
                    </button>
        </div> -->
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-12">
            <table class="table table-responsive sortable" id="experiment-table">
                <thead>
                    <tr>
                        <th class="sorttable_nosort">Row</th>
                        <th>Updated at</th>
                        <th>Sample</th>
                        <th>Dosimeter</th>
                        <th>Date IN</th>
                        <th>Date OUT</th>
                        <th>Position</th>
                        <th>Accumulated<br>fluence</th>
                        <th>Updated by</th>
                        <th>Status</th>
                        <th class="sorttable_nosort">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'samples_manager/partial_irradiations_list.html' %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}