{% extends 'samples_manager/base.html' %}
{% block content %}
    <div class="panel panel-default">
         <h2>New Sample</h2>
                    <form action="{% url 'samples_manager:sample_new'%}" class="new_sample_form" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <label></label>
                        <div class="button_div">
                            <a href="{% url 'samples_manager:sample_new' %}"><p>Add Sample<span class="glyphicon glyphicon-plus"></span></p></a>
                        </div>
                        <div class="button_div">
                            <input type="submit" class="btn btn-success  btn-lg" value="Save" />
                        </div>
                    </form>
    </div>
{% endblock %}


