<form method="post" action="{% url 'samples_manager:sample_delete' experiment.id sample.id %}" class="ui form js-sample-delete-form">
  {% csrf_token %}
   <div class="ui center aligned segment container">
      <div class="ui centered header">
            <h3>Confirm sample deletion</h3>
      </div>
      <p>Are you sure you want to delete the sample <strong>{{ sample.name }}</strong>?</p>
      <div class="two ui buttons actions">
        <button  type="button"  class="ui deny medium button">Cancel</button>
        <button  type="submit"  class="ui negative medium button submit">Delete</button>
      </div>
 </div>
</form>