{% load staticfiles %}
<form method="post"  action="{% url 'samples_manager:print_dosimeter_label_view' dosimeter.id %}"  class="ui form js-print-dosimeter-label-form">
  {% csrf_token %}
   <div class="ui center aligned segment container">
      <div class="ui centered header">
        <h3 class="modal-title">Printing dosimeter label</h3>
     </div>
     <p class="lead">Would you like to print the label <strong>{{dosimeter.dos_id}}</strong>? </p>
   <div class="two ui buttons actions">
            <button  type="button"  class="ui deny medium button">Cancel</button>
            <button  type="submit"  class="ui orange medium button submit">Print label</button>
      </div>
   </div>
</form>
