<meta charset="UTF-8"> 
{% load staticfiles %}
{% load widget_tweaks %}
<script src="{% static 'js/compounds.js' %}"></script>
<form method="post" action="{% url 'samples_manager:sample_update' experiment.id form1.instance.pk %}" class="ui form js-sample-update-form" novalidate>
 {% csrf_token %}
<div class="ui centered grid container">
    <div class="ui text container">
      <div class="three ui buttons center aligned grid container" style="margin:20px;">
        <div class=" ui  big basic blue button" id="step1S">
          <div class="content ">Sample details</div>
        </div>
        <button class=" ui  big disabled blue basic button" id="step2S">
             <div class="content">Sample layers details</div>
             </button>
        <button class=" disabled ui big blue basic button" id="step3S">
             <div class="content">Irradiation details</div>
             </button>
      </div>
    <div id="step1">
        <div class="ui center aligned segment container ">
          <div class="ui centered header">
            <h3>Sample details</h3>
          </div>
          {% for field in form1 %}
                    <div class="field form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                    <span class="ui red basic label">{{error }}</span>
                {% endfor %}
                    </div>
                {% endfor %}
            <div class="two ui buttons actions">
              <button  type="button"  class="ui deny medium button">Cancel</button>
              <button type="button" class="ui  inverted blue medium button next1">Next</button>
            </div>
        </div>
      </div>
      <div id="step2">
        <div class="ui center aligned segment container ">
          <div class="ui centered header">
            <h3>Sample dimensions</h3>
          </div>
          <div class="image content">
            <div class="ui medium image">
                <img src={% static 'images/layers.png' %} alt="Layer" width="100%">
            </div>
          </div>
            {% for field in form2 %}
                        <div class="field form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    {% for error in field.errors %}
                        <span class="ui red basic label">{{error }}</span>
                    {% endfor %}
                        </div>
            {% endfor %}
            <button type="button"
                        id = "new_compound"
                        class="ui blue button js-create-compound"
                        data-url="{% url 'samples_manager:compound_new' experiment.id%}">
                        <i class="plus icon"></i>Add new compound
            </button>
            <table  id='layers_table' class="ui celled table formset_table">
                        {{ layers_formset.management_form }}
                        {% for form in layers_formset.forms %}
                            {% if forloop.first %}
                            <thead>
                                <tr class="row">
                                    <th class="col-md-2">Name *</th>
                                    <th class="col-md-2">Length (mm) *</th>
                                    <th class="col-md-3">Element/<br>Compound</th>
                                    <th class="col-md-2">Delete</th>
                                </tr>
                            </thead>
                            {% endif %}
                            <tr class="{% cycle row1 row2 %} formset_row">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <span class="ui red basic label">{{error}}</span>
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                </table>
        <div class="two ui buttons actions">
              <button  type="button" class="ui  inverted blue  medium button prev1">Previous</button>
              <button  type="button"  class="ui  inverted blue  medium button next2">Next</button>
            </div>
        </div>
      </div>
      <div id="step3">
        <div class="ui center aligned  segment container ">
          <div class="ui centered header">
            <h3>Irradiation details</h3>
          </div>
          {% for field in form3 %}
                      <div class="field form-group{% if field.errors %} has-error{% endif %}">
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {% render_field field class="form-control" %}
                  {% for error in field.errors %}
                      <span class="ui red basic label">{{error }}</span>
                  {% endfor %}
                      </div>
                  {% endfor %}
            <div class="two ui buttons actions">
              <button  type="button" class="ui inverted blue medium button prev2">Previous</button>
              <button  type="submit" class="ui positive medium button submit">Submit</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/steps.js' %}"></script>
<script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Add Layer',
            deleteText: '×',
            prefix: 'layers_set'
        });
        $("#id_set_id").click(function() {
            alert("Please, make sure you already have an assigned SET-ID from IRRAD or TREC.")
        });
        
</script>

