<meta charset="UTF-8"> 
{% load staticfiles %}
{% load widget_tweaks %}
<form method="post" action="{% url 'samples_manager:dosimeter_new' %}" class="ui form js-dosimeter-create-form" novalidate>
  {% csrf_token %}
  <div class="ui centered grid container">
    <div class="ui text container">
      <div class="two ui buttons center aligned grid container" style="margin:20px;">
        <div class=" ui big basic blue button" id="step1S">
          <div class="content ">Characteristics</div>
        </div>
        <button class=" disabled ui big blue basic button" id="step3S">
             <div class="content">Details</div>
             </button>
      </div>
     <div id="step1">
        <div class="ui center aligned segment container ">
          <div class="ui centered header">
            <h3>Characteristics</h3>
          </div>
          {% for field in form1 %}
                    <div class="field form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                    <span class="ui red basic label">{{error }}</span>
                {% endfor %}
                    </div>
                {% endfor %}
            <div class="two ui buttons actions">
              <button  type="button"  class="ui deny medium button">Cancel</button>
              <button type="button" class="ui  inverted blue medium button next1">Next</button>
            </div>
        </div>
      </div>
    <div id="step2">
        <div class="ui center aligned  segment container ">
          <div class="ui centered header">
            <h3>Details</h3>
          </div>
          {% for field in form2 %}
                      <div class="field form-group{% if field.errors %} has-error{% endif %}">
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {% render_field field class="form-control" %}
                  {% for error in field.errors %}
                      <span class="ui red basic label">{{error }}</span>
                  {% endfor %}
                      </div>
                  {% endfor %}
            <div class="two ui buttons actions">
              <button  type="button" class="ui inverted blue medium button prev1">Previous</button>
              <button  type="submit" class="ui positive medium button submit">Submit</button>
            </div>
        </div>
      </div>
    </div>
 </div>
</form>
<script src="{% static 'js/steps.js' %}"></script>