<meta charset="UTF-8"> 
{% load staticfiles %}
{% load widget_tweaks %}
<form method="post" action="{% url 'samples_manager:asset_update' sample.id %}" class="ui form js-asset-update-form">
  {% csrf_token %}
   <div class="ui center aligned segment container">
        <div class="ui text container">
                <div class="two ui buttons center aligned grid container" style="margin:20px;">
                  <div class=" ui  big basic blue button" id="step1S">
                    <div class="content ">Identification</div>
                  </div>
                  <button class=" ui  big disabled blue basic button" id="step2S">
                       <div class="content">Characteristics</div>
                 </button>
                </div>

                <div id="step1">
                        <div class="ui center aligned segment container">
                          <div class="ui centered header">
                            <h3>Identification</h3>
                          </div>
                          <div class="field form-group">
                                <label>Code</label>
                                <input  value="{{code}}"  type='text' id="code" name="code"/>
                            </div>
                            <div class="field form-group">
                                    <label>Serial Number</label>
                                    <input value="{{serialNumber}}" type='text' id="serialNumber" name="serialNumber"/>
                            </div>
                            <div class="field form-group">
                                    <label>Description</label>
                                    <input value="{{description}}" type='text' id="description" name="description"/>
                            </div>
                            <div class="field form-group">
                                    <label>Location</label>
                                    <input value="{{hierarchyLocationCode}}" type='text' id="hierarchyLocationCode" name="hierarchyLocationCode"/>
                            </div>
                            <div class="field form-group">
                                    <label>Value (CHF)</label>
                                    <input value="{{equipmentValue}}" type='text' id="equipmentValue" name="equipmentValue"/>
                            </div>
                            <div class="two ui buttons actions">
                              <button  type="button"  class="ui deny medium button">Cancel</button>
                              <button type="button" class="ui  inverted blue  medium button next1">Next</button>
                            </div>
                        </div>
                </div>

                <div id="step2">
                        <div class="ui center aligned  segment container ">
                          <div class="ui centered header">
                            <h3>Characteristics</h3>
                        </div>
                        <div class="field form-group">
                                <label>Length (cm)</label>
                                <input value="{{length}}" type='text' id="length" name="length"/>
                        </div>
                        <div class="field form-group">
                                <label>Width (cm)</label>
                                <input value="{{width}}" type='text' id="width" name="width"/>
                        </div>
                        <div class="field form-group">
                                <label>Height (cm)</label>
                                <input value="{{height}}" type='text' id="height" name="height"/>
                        </div>
                        <div class="field form-group">
                                <label>Weight (kg)</label>
                                <input value="{{weight}}" type='text' id="weight" name="weight"/>
                        </div>
                        <div class="field form-group">
                                <label>Family</label>
                                <input value="{{family}}" type='text' id="family" name="family"/>
                        </div>
                        <div class="field form-group">
                                <label>Material</label>
                                <input value="{{material}}" type='text' id="material" name="material"/>
                        </div>

                        <div class="two ui buttons actions">
                              <button  type="button" class="ui inverted blue medium button prev2">Previous</button>
                              <button  type="submit" id="experiment_submit" class="ui positive medium button submit">Submit</button>
                        </div>
                </div>
        </div>
  </div>
</form>
<script src="{% static 'js/steps.js' %}"></script>