{% for sample_data in samples_data %}
  <tr>
    <td><input type="checkbox" class="chkbox" id="{{sample.id}}" name="checks[]" value="{{sample_data.sample.set_id}}</font></b><br/>{{sample_data.sample_category}}<br/>{{sample_data.sample.req_fluence}}<br/>{{experiment.responsible.surname}}<br/>{{sample_data.sample.name}}"></td>
    <td>{{ sample_data.sample.updated_at|date:"d/m/Y"}}</td>
    {%if sample_data.sample.set_id %}
    <td>{{sample_data.sample.set_id}}</td>
    {%else %}
    <td>Not assigned</td>
    {%endif%}
    <td>{{ sample_data.sample.name }}</td>
    <td>{{ sample_data.sample.category}}</td>
    <td>{{ sample_data.sample.req_fluence}}</td>
    <td>{{ sample_data.occupancy.radiation_length_occupancy}} / {{ sample_data.occupancy.nu_coll_length_occupancy}} / {{ sample_data.occupancy.nu_int_length_occupancy}}</td>
    <td>{{ sample_data.sample.updated_by}}</td>
    <td>
        <button type="button"
                class="mini ui yellow icon button js-update-sample"
                data-url="{%  url 'samples_manager:sample_update' experiment.id sample_data.sample.id %}"
                title='View or Edit sample'>
              <i class="pencil icon"></i>Edit
        </button>
        <button type="button"
                class="mini ui blue icon button js-clone-sample"
                data-url="{%url 'samples_manager:sample_clone' experiment.id sample_data.sample.id %}"
                title='Clone sample'>
          <i class="clone icon"></i>Clone
        </button>
        <button type="button"
                  class="mini ui grey icon dropdown link button allowed_dropdown"
                  title='More options'>
                 <i class="ellipsis vertical icon"></i>More
                 <div class="menu">
                      <a  href="{% url 'samples_manager:print_sample_view' experiment.id sample_data.sample.id  %}" class="item"><b>Print</b></a>
                      <a data-url="{% url 'samples_manager:print_sample_label_view' experiment.id sample_data.sample.id %}" class="js-print-sample-label item"><b>Print Label</b></a>
                      <a data-url="{% url 'samples_manager:sample_delete' experiment.id sample_data.sample.id %}" class="item js-delete-sample"><b>Delete</b></a>
                  </div>
        </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center">There are no samples</td>
  </tr>
{% endfor %}
<script>
            $('.allowed_dropdown')
            .dropdown();
            function goBack() {
                window.history.back();
            }
    </script>

