{% for compound_data in compounds_data %}
  <tr>
    <td>{{ compound_data.compound.name }}</td>
    <td>{{ compound_data.compound.density }}</td>
    <td>{{ compound_data.samples_sum}}</td>
    <td>
    <button type="button"
                class="mini ui yellow icon button js-update-compound"
                data-url="{% url 'samples_manager:admin_compound_update' compound_data.compound.id %}"
                title='View or Edit compound'>
              <i class="pencil icon"></i>Edit
        </button>
      {%if compound_data.samples_sum == 0 %}
        <button type="button"
                class="mini ui negative icon button js-delete-compound"
                data-url="{% url 'samples_manager:admin_compound_delete' compound_data.compound.id %}">
          <i class="trash icon"></i>Delete
        </button>
      {%endif%}
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center">There are no users</td>
  </tr>
{% endfor %}
<script>
            $('.allowed_dropdown')
            .dropdown();
            function goBack() {
                window.history.back();
            }
    </script>