{% load staticfiles %}
{% load widget_tweaks %}
<form method="post" data-url="{% url 'samples_manager:irradiations'%}"  action="{% url 'samples_manager:irradiation_update'  form.instance.pk%}" class="ui form js-irradiation-form">
  {% csrf_token %}
  <div class="ui center aligned segment container">
      <div class="ui centered header">
            <h3>Assign dosimeter</h3>
      </div>
  {% for field in form %}
    <div class="field form-group{% if field.errors %} has-error{% endif %}">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {% render_field field class="form-control" %}
  {% for error in field.errors %}
      <span class="ui  pointing  basic label">{{ error }}</span>
  {% endfor %}
    </div>
  {% endfor %}
       <div class="two ui buttons actions">
              <button  type="button"  class="ui deny medium button">Cancel</button>
              <button  type="submit" class="ui positive medium button submit">Save</button>
        </div>
  </div>
</form>
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script>
    $( function() {
        jQuery('#id_date_in').datetimepicker();
        jQuery('#id_date_out').datetimepicker();
    } );
  </script>
