{% for dosimeter in dosimeters %}
  <tr>
    <td><input type="checkbox"class="chk" name="check{{dosimeter.id}}" value="{{dosimeter.dos_id}}</b><br/>{{dosimeter.dos_type}}"></td>
    <td>{{ dosimeter.updated_at|date:"d/m/Y"}}</td>
    <td>{{ dosimeter.dos_id }}</td>
    {% if dosimeter.height and dosimeter.width %}
    <td>{{ dosimeter.height}}×{{dosimeter.width}}</td>
    {% else %}
    <td></td>
    {% endif %}
    {% if dosimeter.weight %}
    <td>{{ dosimeter.weight }}</td>
    {% else %}
    <td></td>
    {% endif %}
    <td>{{ dosimeter.status }}</td>
     <td>

      <button type="button"
              class="mini ui yellow icon button js-update-dosimeter"
              data-url="{% url 'samples_manager:dosimeter_update' dosimeter.id %}"
              title='View or Edit sample'>
              <i class="pencil icon"></i>Edit
      </button>
      <button type="button"
              class="mini ui blue icon button js-clone-dosimeter"
              data-url="{% url 'samples_manager:dosimeter_clone' dosimeter.id %}"
              title='Clone dosimeter'>
       <i class="clone icon"></i>Clone
      </button>
       <button type="button"
              class="mini ui purple icon button js-print-dosimeter-label"
              data-url="{% url 'samples_manager:print_dosimeter_label_view' dosimeter.id %}"
              title='Print Label'>
        <i class="barcode icon"></i>Print label
      </button>
      <button type="button"
              class="mini ui negative icon button js-delete-dosimeter"
              data-url="{% url 'samples_manager:dosimeter_delete' dosimeter.id %}">
       <i class="trash icon"></i> Delete
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8">No dosimeter</td>
  </tr>
{% endfor %}