{% load staticfiles %}
{% for irradiation in irradiations %}
  <tr>
    <td>{{ irradiation.updated_at|date:"d/m/Y"}}</td>
    <td>{{ irradiation.sample.set_id}}</td>
    <td>{{ irradiation.dosimeter.dos_id }}</td>
    <td>{{ irradiation.date_in|date:"d/m/Y"}} {{ irradiation.date_in|time:"H:i"}} - {{ irradiation.date_out|date:"d/m/Y"}} {{ irradiation.date_out|time:"H:i"}}</td>
    <td>{{ irradiation.irrad_table }}</td>
    <td> {{ irradiation.table_position }}</td>
    <td> {{ irradiation.accumulated_fluence|stringformat:".2e"}}</td>
    <td>{{ irradiation.sec }}</td>
    <td>{{ irradiation.updated_by}}</td>
    <td>{{ irradiation.status}}</td>
    <td>      
      <div class="ui fitted toggle checkbox">
        {%if irradiation.in_beam %}
          <input type="checkbox" name ="in_beam_checkbox[]" class = "in_beam_checkbox" value="{% url 'samples_manager:in_beam_change' irradiation.id%}" checked>
        {%else %}
          <input type="checkbox" name ="in_beam_checkbox[]" class = "in_beam_checkbox" value="{% url 'samples_manager:in_beam_change' irradiation.id%}">
        {%endif%}
        <label></label>
     </div>
    </td>
    <td>
      <button type="button"
                class="mini ui yellow icon button js-update-irradiation"
                data-url="{%  url 'samples_manager:irradiation_update' irradiation.id %}"
                title='View or Edit irradiation'>
                <i class="pencil icon"></i>Edit
      </button>
      
      <button type="button"
              class="mini ui violet icon button js-change-irradiation-status"
              data-url="{%  url 'samples_manager:irradiation_status_update' irradiation.id %}"
              title='Change status'>
        <i class="hourglass half icon"></i>Status
      </button>
      <button type="button"
                class="mini ui negative icon button js-delete-irradiation"
                title='Delete'
                data-url="{%  url 'samples_manager:irradiation_delete' irradiation.id %}">
          <i class="trash icon"></i>Delete
      </button>
    </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="10">There are no irradiations</td>
    </tr>
  {% endfor %}
  <script>
            $('.allowed_dropdown')
            .dropdown();
            function goBack() {
                window.history.back();
            }
    </script>