{% for sample in samples %}
  <tr>
    <td><input type="checkbox" class="chkbox" id="{{sample.id}}" name="checks[]" value="{{sample.set_id}}</font></b><br/>{{sample.category}}<br/>{{sample.req_fluence}}<br/>{{experiment.responsible}}"></td>
    <td>{{ sample.updated_at|date:"d.m.Y"}} {{ sample.updated_at|time:"H:i"}}</td>
    {%if sample.set_id %}
    <td>{{sample.set_id}}</td>
    {%else %}
    <td>Not allocated yet</td>
    {%endif%}
    <td>{{ sample.name }}</td>
    <td>{{ sample.category}}</td>
    <td>{{ sample.req_fluence}}</td>
     <td>
        <button type="button"
                class="btn btn-warning js-update-sample"
                data-url="{%  url 'samples_manager:sample_update' experiment.id sample.id %}"
                title='View or Edit sample'>
              <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="button"
                class="btn btn-primary js-clone-sample"
                data-url="{%url 'samples_manager:sample_clone' experiment.id sample.id %}"
                title='Clone sample'>
          <span class="glyphicon glyphicon-duplicate"></span>
        </button>
      <a href="{% url 'samples_manager:print_sample_view' experiment.id sample.id  %}">
        <button type="button"
              class="btn btn-info"
              title='Print'>
        <span class="glyphicon glyphicon-print"></span>
      </button>
      </a>
        <button type="button"
              class="btn js-print-sample-label"
              data-url="{% url 'samples_manager:print_sample_label_view' experiment.id sample.id %}"
              title='Assign Sample ID and print Label'>
        <span class="glyphicon glyphicon glyphicon-barcode"></span>
      </button>
      <button type="button"
                class="btn btn-danger js-delete-sample"
                title='Delete'
                data-url="{% url 'samples_manager:sample_delete' experiment.id sample.id %}">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center">There are no samples</td>
  </tr>
{% endfor %}

