{% extends 'samples_manager/base.html' %}
{% block content %}
  <div class="ui modal" id="modal-experiment-details">
     <i class="close icon"></i>
     <div class="scrolling content">
      </div>
  </div>
<div id = 'experiment-details' class= "ui segment">

<script>
     $(document).ready(function() {
                $('.allowed_dropdown').dropdown();
            });
    function goBack() {
         window.history.back();
    }
       </script>
<div class= "ui center aligned segment grid">
        <div class="two wide column">
                    <button type="button" class="ui left floated grey button" onclick="goBack()" title='Back'>
                        <i class="angle left icon"></i>Back
                    </button>
        </div>
        <div class="twelve wide column">
            <h2>TREC Data of Sample {{serialNumber}}</h2>
        </div>
        <div class="two wide column">
        </div>
</div>
{% if exist %}
<div class="ui two column grid">
        <div class="column">
            <div class="ui segment">
                <div class="ui blue ribbon label">Identification</div>
                <div class="ui divided selection list">
                    <div class="item">
                        <div class="ui horizontal label">
                           Code
                        </div>
                        {{code}}
                    </div>
                    <div class="item">
                        <div class="ui horizontal label">
                            Description
                        </div>
                        {{description}}
                    </div>
                    <div class="item">
                        <div class="ui horizontal label">
                            Current location
                        </div>
                        {{hierarchyLocationCode}}
                    </div>
                     <div class="item">
                        <div class="ui horizontal label">
                                Value 
                        </div>
                            {{equipmentValue}} CHF
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div class="ui blue ribbon label">Charecteristics</div>
                <div class="ui divided selection list">
                    <div class="item">
                        <div class="ui horizontal label">
                                Length 
                        </div>
                        {{udfnum07}} cm
                    </div>
                    <div class="item">
                        <div class="ui horizontal label">
                                Width 
                        </div>
                            {{udfnum08}} cm
                    </div>
                    <div class="item">
                        <div class="ui horizontal label">
                                Height 
                        </div>
                            {{udfnum09}} cm
                    </div>
                    <div class="item">
                        <div class="ui horizontal label">
                                Weight 
                        </div>
                            {{udfnum10}} kg
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%else%}
    <div class= "ui center aligned segment grid">
        <p>SET ID not assigned or sample does not exist in TREC</p>
    </div>
    {% endif %}
    <br>
</div>
{% endblock %}