{% extends 'samples_manager/base.html' %}
{% block content %}
<div class='panel panel-default'>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>{{ sample.set_id }}</h2>
            <dl class="dl">
                <dt>Name/Description</dt>
                <dd>{{sample.description}}</dd>
                <dt>Irradiation experiment </dt>
                <dd>{{sample.experiment_id.title}}</dd>
                <dt>Size</dt>
                <dd>{{sample.size}}</dd>
                <dt>Weight</dt>
                <dd>{{sample.weight}}</dd>
                <dt>Material</dt>
                <dd>{{sample.material}}</dd>
                <dt>Requested fluence</dt>
                <dd>{{sample.requested_fluence}}</dd>
                <dt>CERN experimnet</dt>
                <dd>{{sample.cern_experiment}}</dd>
                <dt>Comments</dt>
                <dd>{{sample.comments}}</dd>
            </dl>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="button_div">
            <a href="{% url 'samples_manager:sample_new' %}" class="">
                <button type="button" class="btn btn-warning">
                    <a href="{% url 'samples_manager:sample_new' %}" class="">
                        <h3>Edit</h3>
                </button>
            </a>

            <a href="{% url 'samples_manager:sample_new' %}" class="">
                    <button type="button" class="btn btn-danger">
                        <h3>Delete</h3>
                    </button>
            </a>   
    </div>
</div>

                        

{% endblock %}
