{% extends 'samples_manager/base.html' %}
{% block content %}

<!-- THE MODAL WE WILL BE USING -->
<div class="modal" data-backdrop="static" data-keyboard="false"  id="modal-sample">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>

<div class='panel panel-default' id="main_panel">
    <div class="row">
        <div class="col-sm-2">
                <a  href="{% url 'samples_manager:experiments_list' %}" type="button"
                        class="btn back"
                        title='Back'>
                                <span class="glyphicon glyphicon-chevron-left"></span>Back
                </a>
        </div>
        <div class="col-sm-8">
            <h3><span style="font-size: 150%;">{{experiment.title}} </span>samples </h3>
        </div>
        <div class="col-sm-2">
            <button type="button"
                    class="btn btn-primary js-create-sample"
                    data-url="{% url 'samples_manager:sample_new' experiment.id %}">
                    <span class="glyphicon glyphicon-plus"></span>New Sample
            </button>  
        </div>  
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-12">
                <table class="table table-responsive sortable" id="sample-table">
                    <thead>
                        <tr>
                        <th>Last update</th>
                        <th>Sample ID</th>    
                        <th>Sample Name</th>
                        <th>Category</th>
                        <th>Requested fluence</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'samples_manager/partial_samples_list.html' %}
                    </tbody>
                </table>
            </div>
        </div>
     </div>   
</div>
{% endblock %}
