{% extends 'samples_manager/base.html' %}

{% block content %}
<div class='panel panel-default' id="main_panel">
    <div class="row">
       <h2 class="lead"><strong>General terms<strong></h3>
    </div>
    <br>
    <div id = "regulations" class="row">
      <ol>
        <li><p>The access to the IRRAD area is given once per week (Wednesday morning from 9:00 to 12:00) to allow the installation/removal of large samples and experimental test setups.
           Samples installation on the irradiation tables requires dedicated support frames provided by the users.  </p></li>
        <li><p>Depending on the samples nature, the preparation of an irradiation permit (PRP17) may be required before the irradiation begins (<a href="https://edms.cern.ch/document/1717433"> https://edms.cern.ch/document/1717433 </a>). This safety procedure may require several weeks to be completed.</p></li>
        <li><p>Users are requested to be present at CERN in case their samples have to be handled before and/or after irradiation (e.g. to prepare them for shipping outside CERN).</p></li>
        <li><p>Installation/removal of complex experiments on the irradiation tables require the presence of a minimum of two people from the users’ team on site.
           Users are responsible for obtaining the required safety training ranks, access rights, personal (DIS) and operational dosimeters (DMC), as well as all required Personal Protective Equipment (safety shoes, helmet) before the scheduled access slot. All requirements to be able to access the IRRAD irradiation area are available <a href="https://ps-irrad.web.cern.ch/ps-irrad/index.php?link=access.html" style=" text-decoration: underline;">here</a></p></li>
        <li><p>The IRRAD facility is supported through the AIDA-2020 Transnational Access (TA) program.<p>
          <ul>
          <li><p> 1. All accepted user teams in 2018 must fill in an <a href="http://aida2020.web.cern.ch/content/transnational-access " style=" text-decoration: underline;">AIDA-2020 TA form </a> and have the possibility to request a financial support for their irradiation experiment, if needed.
           In case financial support is required, please contact in advance the AIDA-2020 TA facility Coordinator for IRRAD (Michael.Moll@cern.ch).</p></li>
          <li><p>2. Publications (journal/conference papers, notes, reports, etc.) from the user teams with results related to the AIDA-2020 TA experiments in IRRAD should include the <a href="http://aida2020.web.cern.ch/science/publications" style=" text-decoration: underline;"> AIDA-2020 acknowledgement text</a></p></li>
          <li><p>3. More details about the AIDA-2020 Transnational Access program are available <a href="http://aida2020.web.cern.ch/content/transnational-access" style=" text-decoration: underline;">here</a></p></li>
          </ul>
      </ol>
      </div>
</div>
{% endblock %}
