{% extends 'samples_manager/base.html' %}
{% block content %}
 <!-- THE MODAL WE WILL BE USING -->
<div class="ui modal" id="modal-user">
    <i class="close icon"></i>
      <div class="scrolling content">
      </div>
    </div>
</div>

<div class= "ui center aligned raised segment">
     <h2>{{experiment.title}} users</h2>
     <button type="button"
                  data-target = "#modal-user"
                  class="ui blue button js-create-user"
                  title='Register new user'
                  data-url="{% url 'samples_manager:user_new' experiment.id %}">
                  <i class="plus icon"></i> New User
        </button>  
        <table class="ui center aligned sortable celled table" id="user-table">
                    <thead>
                        <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>E-mail</th>
                        <th>Telephone</th>
                        <th>Role</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'samples_manager/partial_users_list.html' %}
                    </tbody>
                </table>
    </div>
{% endblock %}